<?xml version="1.0" ?>
<launch>
  <arg name = "ip" default="192.168.1.1" />
  <arg name = "port" default="2101" />
  <arg name = "user" default="jsk" />
  <arg name = "pass" default="jsk" />
  <arg name = "mountpoint" default="JSK" />

  <node pkg="ntrip_ros" type="ntripclient.py" name="ntrip_ros" output="screen">
 	 <param name="rtcm_topic" value="/rtk_gps/rtcm"/>
 	 <param name="ntrip_server" value="$(arg ip):$(arg port)"/>
 	 <param name="ntrip_user" value="$(arg user)"/>
 	 <param name="ntrip_pass" value="$(arg pass)"/>
 	 <param name="ntrip_mp" value="$(arg mountpoint)"/>
  </node>
</launch>

